/*   
  .subHeader{
    background-color: rgb(26,74,147);
    display: flex;
    padding: 10px;
    color: white;
  }
  .firstSubHeaderDiv {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
  }
  .firstSubHeaderDivClass{
    cursor: pointer;
  }
  .firstSubHeaderDivClass a{
    text-decoration: none;
    color: white;
  }
  .secondSubHeaderDiv{
    width: 70%;
  } */
  